<html>
  <head>
    <title>Colored Drawings</title>
  </head>

<style>
body {
  background-color: #E6E6FA;
}
</style>

  <style>
.container {
  display: flex;
  align-items: center; 
 padding-left: 10px;
}
img{
  margin-left: 15px ;
  margin-right: 15px;
}
  </style>
  <body>
<H1>Mga Butang</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/BC1bag-1.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/BC2balay-1.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/BC3balde.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/BC4basket.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/BC5Picture1.png?raw=true" height="350px"/> </div> 
     </div>

<H1>Mga Hayop</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/HC1iro.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/HC2kanding.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/HC3langgam.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/HC4manok.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/HC5pato.png?raw=true" height="350px"/> </div> 
     </div>

<H1>Mga Lugar</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/LC1eskwelahan.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/LC2kubo.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/LC3ospital.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/LC4simbahan.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/LC5tulay.png?raw=true" height="350px"/> </div> 
     </div>

<H1>Parte sa Lawas</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/PLC1dalunggan.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/PLC2dila.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/PLC3ilong.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/PLC4kamot.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/PLC5mata.png?raw=true" height="350px"/> </div> 
     </div>

<H1>Mga Pagkaon</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/PC1kalabasa.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/PC2lugaw.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/PC3mais.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/PC4repolyo.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/PC5talong.png?raw=true" height="350px"/> </div> 
     </div>

<H1>Mga Tanom</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/TC1buwak.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/TC2dahon.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/TC3kahoy.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/TC4liso.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/colored-website/blob/main/TC5sagbot.png?raw=true" height="350px"/> </div> 
     </div>

<h2> Illustrated by: Arzylette B. Magsayo-Documentation</h2>

  </body>
</html>
